.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-wrapper label {
  font-weight: bold;
  margin-bottom: 8px;
}

.input-wrapper .ant-input {
  border-color: #299fd1;
}

.input-wrapper .ant-input:focus {
  border-color: #d6fae6;
  box-shadow: 0 0 0 2px rgba(131, 229, 191, 0.2);
}

.input-wrapper .ant-input.ant-input-affix-wrapper:not(.ant-input-disabled) {
  border-color: #3fa244;
}

.input-wrapper .ant-input[disabled] {
  background-color: #d0d5dd;
}

.input-wrapper .ant-input.ant-input-dangerous {
  border-color: #c81a23;
}

.input-wrapper .helper-text {
  color: #999;
  font-size: 12px;
  margin-top: 4px;
}
